@page
@model WebApplication1.Model.AuthApp.LoginModel
@{
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход на сайт</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            padding-top: 40px;
        }

        .container {
            max-width: 600px;
            background-color: #fff;
            border-radius: 8px;
            padding: 30px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h2 {
            color: #007bff;
            margin-bottom: 30px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-create {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Вход на сайт</h2>

                <form method="post" asp-action="Login" asp-controller="Account">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Введите Email</label>
                            <input type="text" asp-for="Email" id="Email" name="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Введите пароль</label>
                            <input asp-for="Password" type="password" id="Password" name="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Войти" class="btn btn-success" />
                        </div>
                        <div class="form-group">
                            <a href="/Account/Register" class="btn btn-primary btn-create">Регистрация</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>